<div class="row mt-5">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">註冊</i></h1>
      {{> message}}
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name" class="h5">姓名<i class="fas fa-user-edit ms-2"></i></label>
          <input type="text" id="name" name="name" class="form-control mb-3" placeholder="Enter Name" value="{{name}}">
        </div>
        <div class="form-group">
          <label for="email" class="h5">電子郵件<i class="far fa-envelope ms-2"></i></label>
          <input type="email" id="email" name="email" class="form-control mb-2" placeholder="Enter Email"
            value="{{email}}">
        </div>
        <div class="form-group">
          <label for="password" class="mt-2 h5">密碼<i class="fa fa-key ms-2" aria-hidden="true"></i></label>
          <input type="password" id="password" name="password" class="form-control mb-3" placeholder="Enter Password"
            value="{{password}}">
        </div>
        <div class="form-group">
          <label for="confirmPassword" class="mt-2 h5">確認密碼<i class="fa fa-key ms-2" aria-hidden="true"></i></label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control mb-3"
            placeholder="Confirm Password" value="{{confirmPassword}}">
        </div>
        <div class="text-center">
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-outline-light mt-4 my-3 btn-block"
              style="background-color: #e95420;">註冊</button>
          </div>
          <div class="d-grid gap-2">
            <a href="/auth/facebook" class="btn btn-outline-light my-2 btn-block"
              style="background-color: #6189bd;">Facebook 註冊</a>
          </div>
        </div>
      </form>
      <p class="lead mt-4">
        已經擁有帳戶了嗎？ <a href="/users/login" class="text-decoration-none ml-2" style="color: #e95420;">我要登入</a>
      </p>
    </div>
  </div>
</div>